.field{
    margin: 10px 0;
}

.button{
    background-color: blueviolet;
    color: beige;
    margin: 15px 0;
    padding: 5px;
}

input {
    width: 40%;
}
label {
    font-size: medium;
}
div {
    flex-direction: column;
}