.field{
    margin: 10px 0;
}

.button{
    background-color: darkblue;
    color: beige;
    margin: 15px 0;
    padding: 5px;
}
.request__delete {
    background-color: blueviolet;
    color: white;
    display: flex;
    margin: 10px 20px;
}

.tablehead{
    background-color: darkslategrey !important;
    color: white;
    padding: 10px;
    width: 100%;
}


.completions{
    background-color: rgba(251, 80, 42, 0.3) !important;
}

.requests{
    width: 60%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}


td {
    text-align: left;
}

.tablebuttons{
    display: table-cell;
}
.fillerCol{
    width: 10%;
}
.descriptionHead{
    padding: 5px;
    padding-left: 2%;
    text-align: left;
}
  
tr:nth-child(odd) {
    background-color: #dddddd;
}

input {
    width: 60%;
}
label {
    font-size: medium;
}
div {
    flex-direction: column;
}